body{
	margin: 0;
	font-family: "arial";
	text-align:center;
}
legend{
	margin: auto;
	font-weight: bold;
	font-size: 25px
	}
fieldset{
	padding-bottom: 15px;
	margin: 2% 5% 0% 10%;
}
	

#Messagerie {
	background-color: white;
	height: 100px;
	color : black;
}
form{
	text-align: center;
}
