h1{
	text-align: center;
}

main{
   margin : 5%;
    text-align: center;
}


td{
    border: 2px solid black;
}
tr{

    padding : 1%;
}
table
{
    border-collapse: collapse; /* Les bordures du tableau seront collées  */
    margin : auto;
    width : 50%;
}
#ligne{
    font-weight: bold;
}
span{
    font-size : larger;
}

#Messagerie{
	background-color: white;
	height: 100px;
	color : black;
}
