body{
    font-family:"Arial";
    margin :0;
}

.lien{
    text-decoration : none;
    color : black;
}

#logo2{
	width: 200px;
}

#Presentation{
	display: flex;
	padding-top: 6%;
	padding-bottom: 4%;

}

.texte{
	margin-left: 10%;
	width:80%;

}

.photo{
	margin-left: 3%;

}
.cercle{
	background-color: #32CD32;
	width : 104px;
	height: 104px;
	-webkit-border-radius: 52px;
	-moz-border-radius: 52px;
	border-radius: 52px;
	margin-left: 3%;
	display : inline-block;
}
.txt{
	position : relative;
	top : 40%;
	text-align: center;
	font-size: 15px;
}
