.body
    font-family:"Arial";
    margin :0;

}

#lien{
    padding:10px;
    margin-left: 5%;
    border-radius: 0;
    background-color:#5b9630;
    color: white;
    border-radius: 10px;
}

#logo2{
	width: 200px;
}

#Presentation{
	display: flex;
	padding-top: 6%;
	padding-bottom: 4%;
}

.texte{
	margin-left: 10%;
}

.photo{
	margin-left: 3%;
}

h2{
	font-size: 24px;
	text-align: center;
}

h3{
	font-size: 20px;
}
