#Conteneur{
	display: flex;
	justify-content: space-between;
	color: white;
}

img{
	width: 50px;
}

footer{
	background-color: #000080;
	padding-top : 25px;
	padding-bottom: 25px;
	margin-top: 25px;
	margin-bottom: 0px;
    
}

.footer{
	list-style:none;
}

.couleur{
	color: white;
}

#element1{
	margin-left: 2%;
}

#element3{
	margin-right: 2%;
}

ul li{
	color: white;
}
