#Conteneur{
	display: flex;
	justify-content: space-around;
	color: white;
}

img{
	width: 50px;
}

footer{
    background-color: #000080;
    padding-top : 25px;
	padding-bottom: 25px;
	margin-top: 25px;
	margin-bottom: 0px;
    
}

.footer{
	list-style:none;
}


