header{
    text-align: left;
    background-color:#000080;
    color:white;
    padding-left:3%;
    padding-top: 1%;
    padding-bottom:1%;
}
.ulHeader1{
    display: flex;
    margin: 5px;
    padding : 0;
    float :right;
    margin-top: 2.5%;
    margin-right : 5%;

}
.header1{
    list-style:none;
    padding:10px;
    margin-left: 5%;
    border: solid;
    border-radius: 10px;
}
.white{
    text-decoration : none;
    color: white;
    margin: 10px;
    padding: 10px;
}

body{
	margin: 0;
	font-family: "arial";
}
