header{
    text-align: left;
    background-color:#000080;
    color:white;
    padding-left:3%;
    padding-top: 1%;
    padding-bottom:1%;
}
.ul1{
    display: flex;
    margin:0;
    padding : 0;
    float :right;
    margin-top: 2.5%;
    margin-right : 5%;

}
.li1{
    list-style:none;
    padding:10px;
    margin-left: 0;
}
.a1{
    text-decoration : none;
    color: white;
    font-weight :  bold;
}
.logo{
    display: block;
    border: none;
    width: 0; /* largeur à spécifier */
    height: 65px; /* longueur à spécifier */
    cursor: pointer;
}
