.logo{
  display: block;
 border: none;
 width: 0px; /* largeur à spécifier */
 height: 65px; /* longueur à spécifier */
 cursor: pointer;
}
ul {
    list-style-type: none;
    margin: 2%;
    padding: 20px;
    font-size: 20px;
}
ul li {
    float: left;
}
ul li a {
    display: block;
    background-color: #ffffff;
    padding: 8px 30px;
    text-decoration: none;
    border-color: #000000;
}
ul li a:hover {
    background-color: #000000;
    color: white;
}
ol {
  float: right;
  list-style-type: none;
  margin: 20px;
  font-size: 20px;
}
