body{
	margin: 0;
	font-family: "arial";
}
.inscription{
    margin-left : 5%;
    padding-bottom : 10%;
}
.gauche{
    display : inline-block;
    vertical-align: top;
    margin-right : 20%;
    margin-left : 20%;
}
.droite{
    display : inline-block;
    vertical-align: top;
    margin-left : auto;
}
