body
{
	margin: 0;
	font-family: "arial";
}


fieldset
{
	text-align: center;
	width: 45%;
	height: 10%;
	margin: auto;
}


legend
{
	margin-left:21%;
}


main
{
	margin: 5%
}


#failmail
{
	display: none;
	color: red;
}

