body{
	margin: 0;
	font-family: "arial";
}
form{
	text-align: center;
}

fieldset{
	text-align: center;
	width: 30%;
	height: 10%;
	margin-left: 35%;
}

legend{
	margin-left:21%;
}
main{
	margin : 5%
}

