body{
	margin: 0;
	font-family: "arial";
}
legend{
	margin: auto;
	font-weight: bold;
	font-size: 25px
	}
fieldset{
	padding-bottom: 15px;
	}
h1{
	text-align: center;
	color: blue;
}
	
	
#Messagerie {
	background-color: white;
	height: 100px;
	color : black;
}
