body{
    font-family: Arial;
    font-size: 100px;
}

.pics{
    float:left;
    width:30%;
    position:relative;
    left:40px;
}
.a4{
    text-decoration: none;
    color:black;
}

article{
    background-color: #3F5378;
    width:98%;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 5px;
    padding-right: 30px;
    margin-bottom: 50px;
    margin-top: 20px;
    margin-left: 10px;
    color: white;
    overflow: auto;
}



/*attention au hover qui par défaut
est bleu et souligné*/

a4:hover{
    text-decoration: none;
    color:black;
}



.ul4{
  display: flex;
}

.carre{
  border-radius: 5px;
  list-style: none;
  background-color: white;
  padding:70px;
  margin-right: 10px;
  text-align:center;
}
.titre{
    position:relative;
    top:50px;
    right:25px;
}

.colors{
	color: black;
}

div{
	text-align : center;
	margin-top : 10px;
}

#Capteurs{
	background-color: white;
	height: 100px;
	color : black;
}
