h1{
	text-align: center;
	color: #1b3c02;
}

.Abonnement2{
	border: 5px black solid;
	text-align: center;
	margin: 45%;
	padding: 0.5%;
}

body{
	margin: 0;
	font-family: "arial";
}

#Barriere{
	display: flex;
	justify-content: center;
}

fieldset{
	margin: 50px;
	padding: 10%;
	
}

.formulaire_contact{
	margin: 50px;
	padding: 1px;
}
