h1{
	text-align: center;
	color: #1b3c02;
}

.Abonnement2{
    list-style:none;
    padding:10px;
    margin-left: 5%;
    border: solid;
    border-radius: 10px;
}

body{
	margin: 0;
	font-family: "arial";
}

#Barriere{
	display: flex;
	justify-content: center;
}

fieldset{
	margin: 50px;
	padding: 10%;
	
}
