h1{
	text-align: center;
	color: #1b3c02;
}
h2{
	text-align: center;
	text-decoration: underline;
	color: blue;
}

.a[title=abonnement]{
	border: 6px black solid;
	padding: 20% 20% 20% 20%
}

#conteneur{
	display: flex;
	justify-content: space-around;
	margin: auto;

}
fieldset{
	padding-right: 10%;
	margin: 2% 10% 0% 10%;
	
}
legend{
	font-size: 120%;
	font-weight: bold;
	font-family: Impact, Times, "Times New Roman", serif;
	color: DimGrey;
}
#profil{
	background-color: white;
	height: 100px;
	color : #5b9630;
}
