
ul{
    display :flex;

}
li{
    list-style: none;
    padding : 1%;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
} /*faire apparaitre les flèches à coté du nombre*/

.bouton{
    border: solid grey;
    padding: 0.5%;
    background: grey;

}

