body{
    font-family:"Arial";
}
header{
    text-align: left;
    background-color:#000080;
    color:white;
    padding-left:20px;
    padding-top:5px;
    padding-bottom:5px;
}
footer{
    text-align: left;
    background-color:#000080;
    color:white;
    padding-left:20px;
    padding-top:0.1px;
    padding-bottom:0.1px;

}
