body{
    font-family:"Arial";
    margin :0;
}
header{
    text-align: left;
    background-color:#000080;
    color:white;
    padding-left:20px;
    padding-top:5px;
    padding-bottom:5px;
}
footer{
    text-align: left;
    background-color:#000080;
    color:white;
    padding-left:20px;
    padding-top:0.1px;
    padding-bottom:0.1px;

}
div{
    padding : 10px;
}
fieldset{
    margin : 10px;
}
ul{
    display: flex;
    margin:0;
    padding : 0;
    float :right;
    padding-top: 20px;

}
li{
    list-style:none;
    padding:10px;
    border: solid;
    border-radius: 10px;
    margin:10px;
    align:left;
}
.white{
    text-decoration: none;
    color: white;
}
a{
    text-decoration : none;
}

