body{
    font-family:"Arial";
    margin :0;
}
header{
    text-align: left;
    background-color:#000080;
    color:white;
    padding-left:3%;
    padding-top: 1%;
    padding-bottom:1%;
}
/*footer{
    text-align: left;
    background-color:#000080;
    color:white;
    padding-left:5%;
    padding-top:0.5%;
    padding-bottom:0.5%;
}*/

#Conteneur{
	display: flex;
	justify-content: space-around;
}

img{
	width: 50px;
}

section{
    background-color: #000080; 
}

div{
    padding : 5%;
}
fieldset{
    margin-left : 5%;
}
ul{
    display: flex;
    margin:0;
    padding : 0;
    float :right;
    padding-top: 20px;

}
li{
    list-style:none;
    padding:10px;
    border: solid;
    border-radius: 10px;
    margin:10px;
    

}
.white{
    text-decoration: none;
    color: white;
}
a{
    text-decoration : none;
}